<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ApmAgent -->
    <!-- Configuration option to disable SolarWinds APM. The ApplicationPools element below can be used to enable or disable specific application pools. -->
    <!-- Valid Options: -->
    <!--   Disabled: SolarWinds APM is disabled  -->
    <!--   Enabled: SolarWinds APM is enabled -->
    <!-- Default Option: Enabled -->
    <!-- <add key="ApmAgent" value="Disabled" /> -->

    <!-- ServiceKey -->
    <!-- Service Key for your service defined in the SolarWinds APM web interface -->
    <add key="ServiceKey" value="" />

        <!-- ApmCollector -->
        <!-- Set the ApmCollector to override the default apm collector endpoint with a different apm collector endpoint.  -->
        <add key="ApmCollector" value="" />

    <!-- HostnameAlias -->
    <!-- An optional logical/readable hostname that can be used to easily identify the host. -->
    <!--<add key="HostnameAlias" value="" />-->

    <!-- LogType -->
    <!-- Valid Options: File, StdOut, StdErr, Disabled -->
    <!-- Default Value: File -->
    <!-- Destination for log messages. -->
    <!-- <add key="LogType" value="File" /> -->

    <!-- LogFileLocation -->
    <!-- Valid Options:  -->
    <!-- Default Values: -->
    <!--   Windows - C:\Windows\Temp\Solarwinds -->
    <!--   Linux - /var/tmp/solarwinds -->
    <!-- The directory where log files will be created. The setting is only applicable when the LogType is 'File'. The directory configured will be created if doesn't exist. -->
    <!-- <add key="LogFileLocation" value="directory-for-agent-log-files" /> -->

    <!-- LogLevel -->
    <!-- Valid Options: None, Fatal, Error, Warning, Info, Debug, Trace -->
    <!-- Default Value: Info -->
    <!-- Level at which log messages will be sent to System.Diagnostics.TraceSource.TraceEvent -->
    <!-- <add key="LogLevel" value="Info" /> -->

    <!-- LogLevel.Instrumentation.ProfilerService -->
    <!-- Valid Options: None, Fatal, Error, Warning, Info, Debug, Trace -->
    <!-- Default Value: Info -->
    <!-- Log level for profiling snapshot feature. -->
    <!-- <add key="LogLevel.Instrumentation.ProfilerService" value="Debug" /> -->

    <!-- LogLevel.Internal -->
    <!-- Valid Options: None, Fatal, Error, Warning, Info, Debug, Trace -->
    <!-- Default Value: Info -->
    <!-- Log level for the internal SolarWinds APM unmanaged library used by the .NET Agent. -->
    <!-- <add key="LogLevel.Internal" value="Debug" /> -->

    <!-- LogLevel.Internal.Collector -->
    <!-- Valid Options: None, Fatal, Error, Warning, Info, Debug, Trace -->
    <!-- Default Value: Info -->
    <!-- Log level for the communctions between the .NET Agent and the SolarWinds APM server, known as the SolarWinds APM collector. -->
    <!-- <add key="LogLevel.Internal.Collector" value="Trace" /> -->

        <!-- LogFileMaxSize -->
    <!-- Maximum size in bytes for each log file generated for an IIS site / application. -->
    <!-- After the maximum is reached the log file will not have additional messaged written to it. -->
    <!-- Log messages will be written again once a new log file is generated. -->
    <!-- Default Value: 10000000 (10 MB)-->
    <!-- <add key="LogFileMaxSize" value="10000000" /> -->

    <!-- ReserveDiskSpace -->
    <!-- The amount of free disk space, in bytes necessary before messages can be written to the log file. -->
    <!-- Log messages will not be written to a log file if there isn't sufficient disk space. -->
    <!-- Default Value: 200000000 (200 MB)-->
    <!-- <add key="ReserveDiskSpace" value="200000000" /> -->

    <!-- LogCreationSchedule -->
    <!-- Valid Options: Daily, Weekly -->
    <!-- Default Option: Daily -->
    <!-- How often a new log file is generated -->
    <!-- <add key="LogCreationSchedule" value="Daily" /> -->

    <!-- LogRetentionDays -->
    <!-- The number of days to retain log files for, log files will be deleted after the number of days specified. -->
    <!-- Default Option: 45 -->
    <!-- <add key="LogRetentionDays" value="45" /> -->

    <!-- Tracing -->
    <!-- Valid Options: Disabled, Enabled -->
    <!-- Default Value: Enabled -->
    <!-- Set Tracing to Disabled if requests should never be sampled and transaction metrics should not be reported. -->
    <!-- <add key="Tracing" value="Disabled" /> -->

    <!-- SQLSanitizationMode -->
    <!-- Valid options: Disabled, Auto, KeepDoubleQuotes, DropDoubleQuotes -->
    <!-- Default Value: Auto -->
    <!--<add key="SQLSanitizationMode" value="Disabled" />-->

    <!-- Inlining -->
    <!-- Indicates whether the CLR compiler optimization of inlining should be enabled or disabled. -->
    <!-- Please see the SolarWinds APM .NET Agent documentation for more information. -->
    <!-- Valid Options: -->
    <!--   Disabled: The inlining optimization is disabled  -->
    <!--   Enabled: The inlining optimization is enabled -->
    <!-- Default Option: Enabled -->
    <!-- <add key="Inlining" value="Enabled" /> -->

    <!-- IncludeQueryString -->
    <!-- Valid Options: -->
    <!--   Disabled: Query String is excluded from URLs reported  -->
    <!--   Enabled: Query String is included in URLs reported -->
    <!-- Default Option: Enabled -->
    <!--<add key="IncludeQueryString" value="Disabled" />-->

    <!-- PrependDomain -->
    <!-- Optional configuration: Used to indicate if the domain should be prepended to the transaction name. -->
    <!-- Valid Options: -->
    <!--   Disabled: The domain should NOT be prepended to the transaction name. -->
    <!--   Enabled: The domain should be prepended to the transaction name. -->
    <!-- Default Option: Disabled -->
    <!--<add key="PrependDomain" value="Enabled" />-->

    <!-- Profiling -->
    <!-- Optional configuration: Used to indicate if profiling should be enabled. -->
        <!-- Only available for auto-instrumented applications running on Windows -->
    <!-- Valid Options: -->
    <!--   Disabled: Profiling is disabled. -->
    <!--   Enabled: Profiling is enabled.. -->
    <!-- Default Option: Disabled -->
    <!--<add key="Profiling" value="Enabled" />-->

    <!-- Profiling Sample Interval -->
    <!-- Optional configuration: The sample interval for profile snapshots. A valid value is an integer between 30 and 3000. The sample interval is in milliseconds. -->
    <!-- Default Value: 50 -->
    <!--<add key="ProfileSampleInterval" value="200" />-->

        <!-- Active Profile Count -->
        <!-- Optional configuration: The maximum number of traced requests to be profiled at the same time. A valid value is an integer between 1 and 100. -->
        <!-- Default Value: no maximum value is set by default -->
        <!--<add key="ActiveProfileCount" value="3" />-->

        <!-- Request Queue Threshold -->
        <!-- Optional configuration: For IIS hosted .NET Framework applications an error will be reported as part of a traced request -->
        <!--                         if the IIS request queue length exceeds the threshold set. A valid value is an integer greater than zero. -->
    <!--                         The unit of value is milliseconds. -->
        <!-- Supported Applications: IIS Hosted .NET Framework Applications -->
        <!-- Default Value: no value is set by default -->
        <!--<add key="RequestQueueThreshold" value="300" />-->

    <!-- Request Queue Metric -->
        <!-- Optional configuration: Indicates if the request queue metric should be reported. -->
        <!-- Supported Applications: IIS Hosted .NET Framework Applications -->
        <!-- Default Value: Disabled -->
        <!--<add key="RequestQueueMetric" value="Enabled" />-->

        <!-- InsertLogTraceIdIntoLogs -->
    <!-- Optional configuration: Used to indicate if the trace ID should be inserted into the log files. -->
    <!-- Valid Options: -->
    <!--   Disabled: Trace ID is NOT inserted into log files. -->
    <!--   Enabled: Trace ID will be inserted into log files for requests specified by LoggedTraceId configuration. -->
    <!-- Default Option: Disabled -->
    <!--<add key="InsertLogTraceIdIntoLogs" value="Enabled" />-->

    <!-- AddAttributeLogTraceId -->
    <!-- Optional configuration: Used to indicate if the attribute for trace ID is created. -->
    <!-- Valid Options: -->
    <!--   Disabled: Trace ID attribute will NOT be created. -->
    <!--   Enabled: Trace ID attribute will be created for requests specified by LoggedTraceId configuration. -->
    <!-- Default Option: Disabled -->
    <!--<add key="AddAttributeLogTraceId" value="Enabled" />-->

    <!-- LoggedTraceId -->
    <!-- Optional configuration: Used to indicate request types for which trace ID is created or logged. -->
    <!-- Valid Options: -->
    <!--   All: Log or create trace ID for all requests. -->
    <!--   SampledOnly: Log or create trace ID only for sampled requests. -->
    <!-- Default Option: All -->
    <!--<add key="LoggedTraceId" value="All" />-->

    <!-- EC2 Metadata Timeout -->
    <!-- Optional configuration: On agent startup the agent checks if the server is an AWS EC2 instance. The Ec2MetadataTimeout configuration can be used to adjust
                                 the timeout length of this check. If the agent is not running on an AWS EC2 instance it is safe to set this value to 0. A valid value
                                 is an integer between 0 and 3000. The EC2 metadata timeout is in milliseconds. -->
    <!-- Default Value: 1000 (1 second)-->
    <!--<add key="Ec2MetadataTimeout" value="0" />-->

    <!-- TriggerTrace -->
    <!-- Configuration option used to disable trigger traced mode. -->
    <!-- Valid Options: -->
    <!--   Disabled: Trigger trace mode is disabled. -->
    <!--   Enabled: Trigger trace mode is enabled. -->
    <!-- Default Option: Enabled -->
    <!--<add key="TriggerTrace" value="Disabled" />-->

    <!-- Backtraces -->
    <!-- Optional configuration: Used to explicitly control backtrace reporting. -->
    <!-- Valid Options: -->
    <!--   Disabled: Backtrace reporting is disabled for all span events including error span events. -->
    <!--   ErrorsOnly: Backtraces are only reported for error span events.  Recommended setting to disable backtrace reporting so
                       that backtraces are still reported for error span events. -->
    <!--   EnabledAll: Backtrace reporting is enabled. -->
    <!-- Default Option: EnabledAll -->
    <!--<add key="Backtraces" value="ErrorsOnly" />-->

    <!-- ProxyUrl -->
    <!-- Optional configuration: The ProxyUrl can be set if the traffic from the agent to the SolarWinds APM backend (aka the collector) needs to go through a proxy server. -->
    <!-- Valid options:-->
    <!--    - Proxy that requires Basic Authentication: http://<username>:<password>@<proxy-host>:<proxy-port> -->
    <!--    - Proxy that does not require authentication: http://<proxy-host>:<proxy-port> -->
    <!-- Note: -->
    <!--    As HTTP is the only type of connection supported between the agent and the proxy, the ProxyUrl schema must be set to 'http://'. The traffic from the agent to SolarWinds APM backend is encrypted using SSL/TLS. -->
    <!--<add key="ProxyUrl" value="http://my-proxy:3128" />-->
    <!--<add key="ProxyUrl" value="http://user:password@my-proxy:3128" />-->

    <!-- EventViewerLogLevel -->
    <!-- Valid Options: None, Fatal, Error, Warning, Info, Debug, Trace -->
    <!-- Default Value: Fatal -->
    <!-- Level at which log messages will be sent to System Event Log -->
    <!-- <add key="EventViewerLogLevel" value="Fatal" /> -->

    <!-- SolarWindsAPMHttpModule -->
    <!-- Optional configuration: Used to indicate if the SolarWinds APM HttpModule should be used to start and end traces. -->
    <!-- Valid Options: -->
    <!--   Disabled: The SolarWinds APM HttpModule is disabled. -->
    <!--   Enabled: The SolarWinds APM HttpModule is enabled. -->
    <!-- Default Option: Disabled -->
    <!--<add key="SolarWindsAPMHttpModule" value="Enabled" />-->

    <!-- IISInstrumentation -->
    <!-- Optional configuration: Used to indicate if IIS Instrumentation should be enabled or disabled. -->
    <!-- Valid Options: -->
    <!--   Disabled: IIS Instrumentation is disabled for .NET Framework and .NET 6.0+. -->
        <!--   DisabledIISFramework: IIS Instrumentation is disabled for .NET Framework -->
    <!--   DisabledIISCore: IIS Instrumentation is disabled for .NET 6.0+. -->
    <!--   Enabled: IIS Instrumentation is enabled. -->
    <!-- Default Option: Default is Enabled, the .NET Agent installer will set this value based on installation compoentents selected. -->
    <!--<add key="IISInstrumentation" value="Enabled" />-->

    <!-- Maximum Query Length -->
    <!-- Optional configuration: The maximum length for the Query value reported in database spans. -->
    <!--                         The configured length must be between 2048 and 128000. -->
    <!-- Default Value: 128000 -->
    <!--<add key="MaximumQueryLength" value="2048" />-->

        <!-- MvcInstrumentation -->
        <!-- Optional configuration: Used to indicate if MVC Instrumentation should be enabled, mvc view instrumentation only or disabled. -->
        <!-- Valid Options: -->
        <!--   Disabled: MVC Instrumentation and MVC View Instrumentation are disabled. -->
        <!--   MvcViewEnabled: Only MVC View instrumentation is enabled. -->
        <!--   Enabled: MVC Instrumentation and MVC View Instrumentation are enabled. -->
        <!-- Default Option: Default is Enabled, both mvc instrumentation and mvc view instrumentation are enabled. -->
        <!--<add key="MvcInstrumentation" value="MvcViewEnabled" />-->

        <!-- PreconnectionCheck -->
        <!-- Optional configuration: Indicates if a preconnection check should be done before the .NET Agent connects to the SolarWinds collector. -->
    <!-- Only applicable for services running on Windows -->
        <!-- Valid Options: -->
        <!--   Disabled: The preconnection check is disabled. -->
        <!--   EnabledRequiredChecks: The preconnection check is enabled when the .NET Agent is instrumented an Azure App Service or an Kubernetes App Service. -->
        <!--   EnabledAll: The preconnection check is enabled for all services instrumented by the .NET Agent. -->
        <!-- Default Option: Default is EnabledRequiredChecks, as a preconnection check may need to be done on Azure App Services or an Kubernetes App Service in order for the connection to the collector to be setup. -->
        <!--<add key="PreconnectionCheck" value="EnabledAll" />-->

    <!-- InsertSqlTag -->
    <!-- Optional configuration: Setting is used to enable the trace context in queries feature. -->
    <!--                         Supported database providers: MySql.Data.MySqlClient and MySqlConnector -->
    <!-- Valid Options: -->
    <!--   Disabled: Trace context in queries feature is disabled. -->
    <!--   Enabled: Enables the injection of trace context as a comment to the start of the SQL statement for sampled requests. -->
    <!-- Default Option: Disabled -->
    <!--<add key="InsertSqlTag" value="Enabled" />-->

    <!-- IISMultipleSpans -->
    <!-- Optional configuration: Setting can be used to disable multiple entry IIS spans being created. Some .NET Framework -->
        <!--                         web applications have web requests which may generate more than one IIS span. To disable -->
        <!--                         these separate IIS Spans this setting can be set to `Disabled`. -->
    <!-- Valid Options: -->
    <!--   Disabled: IIS entry spans will not be created as separate spans. -->
    <!--   Enabled: IIS entry spans will be created as separate spans. -->
    <!-- Default Option: Enabled -->
    <!--<add key="IISMultipleSpans" value="Disabled" />-->

        <!-- HttpClientInstrumentation -->
        <!-- Valid Options: -->
        <!--   Disabled: HttpClient instrumentation is disabled for .NET Framework and .NET applications.  -->
        <!--   DisabledFramework: HttpClient instrumentation is disabled for .NET Framework applications. -->
        <!--   Enabled: HttpClient instrumentation is enabled for .NET Framework and .NET applications. -->
        <!-- Default Option: DisabledFramework -->
        <!-- <add key="HttpClientInstrumentation" value="Enabled" /> -->

          <!-- InsertSqlTagDatabases -->
          <!-- Comma separated list of databases enabled for the trace context in queries feature.  -->
          <!-- The configuration `InsertSqlTag` above must be set to Enabled to enable the trace context in queries feature. -->
          <!-- Valid Options in List: -->
          <!--   MySql: MySql database -->
          <!--   MicrosoftSqlServer: Microsoft SQL Server -->
          <!-- Default Option: MySql,MicrosoftSqlServer -->
          <!-- <add key="InsertSqlTagDatabases" value="MySql" /> -->

  </appSettings>
  <instrumentation>
    <iisSites>
      <!-- Optional Configuration: This section can be used for IIS Site specific configuration. -->
      <!--   Element: iisSite -->
      <!--   Attributes:  -->
      <!--     name: The name of the IIS Site configured in IIS and displayed in IIS Manager. -->
      <!--     hostName: Optional attribute. The host name can be specified, if a service also needs to be separated by host names. -->
      <!--     serviceName: Name used to identify the IIS site service and will be displayed in the SolarWinds APM web interface. -->
      <!--                  The service name only allows numbers, lowercase letters and special characters " - " " . " " _ ". -->
          <!--  Additional Instructions: -->
          <!--                 The ServiceKey configuration setting above must be set as the Api Token contained in it will be used when sending -->
      <!--                 telemetry data for the IIS sites configured. -->
          <!--                 If a virtual directory needs to be identified as a different service than the format for the name must -->
      <!--                 combine the IIS site name and virtual directory name in this format: "iis_site_name/virtual_directory_name" -->
      <!--                 Virtual directories are only supported by the .NET Framework instrumentation -->
      <!--  Example:  -->
      <!--    <iisSite name="iis_site_name" serviceName="your-service-name"/> -->
      <!--    <iisSite name="iis_site_name/virtual_directory_name" serviceName="your-service-name"/> -->
      <!--    <iisSite name="iis_site_name" hostName="host.domain.com" serviceName="your-service-name"/> -->
    </iisSites>
    <applicationPools>
      <!-- Optional Configuration: This section can be used for application pool specific configuration. -->
      <!--   Element: applicationPool -->
      <!--   Attributes:  -->
      <!--     name: The name of the application pool. -->
      <!--     serviceName: Optional attribute. If the application pool should be identified as a different service than a specific service name can be specified. -->
      <!--                  The service name only allows numbers, lowercase letters and special characters " - " " . " " _ ". -->
          <!--                  If the serviceName attribute is set the ServiceKey configuration setting above must be set as the Api Token contained in it will be -->
          <!--                  used when sending telemetry data for the configured application pool. -->
          <!--     apmAgent: Optional attribute. Valid Options: Disabled, Enabled -->
      <!--                The default option is Enabled. To disable SolarWinds APM for an application pool set the apmAgent attribute to Disabled. -->
          <!--     iisInstrumentation: Optional attribute. Valid Options: DisabledIISFramework, DisabledIISCore, Enabled  -->
          <!--                         The default option is Enabled. -->
      <!--                         To disable .NET Framework instrumentation set the iisInstrumentation attribute to DisabledIISFramework. -->
          <!--                         To disable .NET 6.0+ instrumentation set the iisInstrumentation attribute to DisabledIISCore. -->
          <!--  Example:  -->
      <!--    <applicationPool name="application_pool_name" serviceName="your-service-name"/> -->
          <!--    <applicationPool name="application_pool_name" iisInstrumentation="DisabledIISFramework" /> -->
    </applicationPools>
    <applications>
      <!-- The list of non-IIS Applications to instrument-->
      <!--   Element: application -->
      <!--   Attributes:  -->
      <!--     name: The name of the application to instrument. -->
      <!--     serviceName: Optional attribute. If the application is a different service than a specific service name for this application can be specified. -->
      <!--                  The service name only allows numbers, lowercase letters and special characters " - " " . " " _ ". -->
          <!--                  If the serviceName attribute is set the ServiceKey configuration setting above must be set as the Api Token contained in it will be -->
          <!--                  used when sending telemetry data for the configured application. -->
          <!--     inlining: Optional attribute. Valid Options: Disabled, Enabled -->
      <!--               If the inlining attribute is not set in the application element, the appSettings Inlining value is used. -->
      <!--     apmAgent: Optional attribute. Valid Options: Disabled, Enabled -->
      <!--                The default option is Enabled. To disable SolarWinds APM for an application set the apmAgent attribute to Disabled. -->
      <!--  Example:  -->
      <!--    <application name="ApplicationToInstrument.exe" /> -->
      <!--    <application name="ApplicationToInstrumentTwo.exe" serviceName="your-service-name" /> -->
      <application name="cart" />
    </applications>
    <transactionSettings>
    <!-- Settings for specific transactions -->
    <!--   Element: transactionSetting -->
    <!--   Attributes: -->
    <!--     applicationPool: Optional attribute. If set the transaction configuration will only be applied to the application pool specified. -->
    <!--     application: Optional attribute. If set the transaction configuration will only be applied to the application specified. -->
    <!--     type: Required attribute. (Valid option: Url) -->
    <!--     One of extensionList or regexMatch is required. -->
    <!--     extensionList: Comma separated list of file extensions. -->
    <!--     regexMatch: Regular expression to match against. -->
    <!--     tracing: Required attribute. (valid options: Enabled, Disabled) Set tracing to "Disabled" if the matching transactions should not be traced and not have metrics reported.
                      Set tracing to "Enabled" if the matching transaction should be traced and have metrics reported.-->
    <!--   Examples: -->
    <!--     <transactionSetting type="Url" extensionList=".js,.css,.png,.ico" tracing="Disabled" /> -->
    <!--     <transactionSetting applicationPool="app-pool-1" type="Url" regexMatch=".*long-transaction.*" tracing="Disabled" /> -->
    </transactionSettings>
  </instrumentation>
</configuration>